<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://se.cs.cau.de/lad/types"
            class="de.cau.cs.se.lad.types.TypesPackage"
            genModel="model/Types.genmodel"/>
   </extension>

</plugin>
